<div class="row">
  <div class="col">
    <h3 class="listName">{{list?.name}} <button class="btn btn-sm btn-link float-right" (click)="deleteList()">Delete List</button></h3>
  </div>
</div>
<div class="list-group mb-3">
  <div *ngFor="let item of items" class="list-group-item list-group-item-action flex-column align-items-start pb-0">
    <div class="d-flex justify-content-start mb-2 items">
      <span class="badge badge-pill badge-primary itemCount">{{item.quantity}}</span>
      <p class="itemName">{{item.name}}</p>
      <div class="ml-auto">
        <button class="btn btn-small btn-primary small-btn" (click)="markInActive(item)">
          <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" height="24" viewBox="0 0 24 24" width="24">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/>
          </svg>
        </button>
        <!--<button class="btn btn-small btn-primary small-btn">-->
          <!--<svg xmlns="http://www.w3.org/2000/svg" fill="#fff" height="24" viewBox="0 0 24 24" width="24">-->
            <!--<path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>-->
            <!--<path d="M0 0h24v24H0z" fill="none"/>-->
          <!--</svg>-->
        <!--</button>-->
        <button class="btn btn-small btn-primary small-btn" (click)="deleteItem(item)">
          <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" height="24" viewBox="0 0 24 24" width="24">
            <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
            <path d="M0 0h24v24H0z" fill="none"/>
          </svg>
        </button>
      </div>
    </div>
    <div class="text-center departmentBadge" ngClass="{{item | department | lowercase}}"><span class="deptText">{{item | department}}</span></div>
  </div>
</div>
<div class="push"></div>
<form [formGroup]="createItemForm" (ngSubmit)="createItemForm.valid && commit()" class="fixed-bottom container createItemForm">
  <hr>
  <div class="row">
    <div class="col-10">
      <div class="row mb-2">
        <div class="col-12">
          <label for="name" class="font-weight-bold">Item</label>
          <input formControlName="name" type="text" id="name" name="name" class="itemInput form-control">
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-8">
          <label for="departmentId" class="font-weight-bold">Department</label>
          <select formControlName="departmentId" id="departmentId" name="departmentId" class="form-control">
            <option *ngFor="let department of departments" [ngValue]="department.departmentId">
              {{department?.name}}
            </option>
          </select>
        </div>
        <div class="col-4">
          <label for="quantity" class="font-weight-bold">Quantity</label>
          <input formControlName="quantity" type="number" id="quantity" name="quantity" class="form-control">
        </div>
      </div>
    </div>
    <div class="col-2 itemAddButtonCol">
      <button type="submit" class="btn btn-primary itemAddButton"><span class="itemAddButtonText">&#43;</span></button>
    </div>
  </div>
</form>
