header {
  display: grid;
  grid-auto-flow: column;
  padding: 1em 0;
  border-top: 5px solid #fbd490;
}

header i {
  margin: 0 auto;
  font-size: xx-large;
}
header i:first-child {
  transform: scale(-1, 1);
}
header h1 {
  -webkit-margin-before: 0;
  text-align: center;
}
