<h2>Lists</h2>
<div class="list-group">
  <a [routerLink]="[list.listId, 'items']" class="list-group-item list-group-item-action flex-column align-items-start"
     *ngFor="let list of lists">{{list.name}}</a>
</div>
<form class="my-2" [formGroup]="createListForm" (ngSubmit)="createListForm.valid && commit()">
  <h3>Add a list</h3>
  <label class="control-label" for="name">List Name</label>
  <div class="row ">
    <div class="col-8">
      <input [formControl]="createListForm.controls.name" type="text" id="name" class="form-control">
    </div>
    <div class="col-4">
      <button class="btn btn-secondary" type="submit">Add</button>
    </div>
  </div>
</form>
