<h2>Lists</h2>
<div class="list-group mb-3">
  <a [routerLink]="[list.listId, 'items']" class="list-group-item list-group-item-action flex-column align-items-start text-capitalize font-weight-bold" *ngFor="let list of lists">{{list.name}}</a>
</div>
<form  class="fixed-bottom container createListForm" [formGroup]="createListForm" (ngSubmit)="createListForm.valid && commit()">
  <hr>
  <label class="control-label font-weight-bold" for="name">List Name</label>
  <div class="row mb-2">
    <div class="col-10">
      <input [formControl]="createListForm.controls.name" type="text" id="name" class="form-control">
    </div>
    <div class="col-2 listAddButton">
      <button class="btn btn-primary float-right" type="submit">Add</button>
    </div>
  </div>
</form>
